# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape[0]

(4622, 5)

In [1]:
# Solution 2
chipo.info()

NameError: name 'chipo' is not defined

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

### Step 7. Print the name of all the columns.

In [2]:
chipo.columns

NameError: name 'chipo' is not defined

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

### Step 9. Which was the most-ordered item?

In [ ]:

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

### Step 12. How many items were orderd in total?

In [ ]:
chipo.quantity.sum()

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
change_type = lambda x: x.astype(int)

change_type(chipo['item_price'])

ValueError: invalid literal for int() with base 10: '$2.39 '

#### Step 13.c. Check the item price type

In [ ]:
print(chipo['item_price'].dtype)

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?